<%= form_for @bar do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :drink %>
    <%= f.text_field :drink %>
  </p>
  <p>
    <%= f.submit 'Update drink' %>
  </p>
<% end %>